<div class="row">
	<div class="col-xs-offset-1 col-xs-8">
		<h2 class="head-line text-center title_h2">マイページ</h2>
		<strong class="information-link">登録情報</strong>
				<%= link_to"編集する", edit_public_customer_path,class: "btn btn-success" %>

			<table border="1" cellspacing="0" cellpadding="0" >
       <tr>
        <th>氏名</th><td><%= @customer.full_name %></td>
       </tr>
       <tr>
        <th>カナ</th><td><%= @customer.full_kana %></td>
       </tr>
       <tr>
        <th>郵便番号</th><td><%= @customer.postal_code %></td>
       </tr>
       <tr>
        <th>住所</th><td><%= @customer.address %></td>
       </tr>
       <tr>
        <th>電話番号</th><td><%= @customer.telephone_number %></td>
       </tr>
       <tr>
        <th>メールアドレス</th><td><%= @customer.email %></td>
       </tr>
      </table>

			<div class="mypage-bottoms">
			 <strong class="shipping-link">配送先</strong>
				<%= link_to public_addresses_path do %>
				 <button class= "btn btn-primary save col-xs-6" >
				 	一覧を見る
				 </button>
        <% end %><br>

        <strong class="shipping-link">注文履歴</strong>
				<%= link_to public_orders_path do %>
				 <button class="btn btn-primary save col-xs-6">
				 	一覧を見る
				 </button>
        <% end %>

			</div>
	</div>
</div>