<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-3">
   </div>
   <div class="col-md-8 offset-md-1">
      <h2>商品詳細</h2>
   <table>
    <tr>
      <td><%= image_tag @item.get_image(300,200)  %></td>
      <td>
         <label for="name">商品名</label>
          <%= @item.name %>
          <br>
         <label for="introduction">商品説明</label>
            <%= @item.introduction %>
           <br>
         <label for="price">税込価格</label>
              <%= (@item.price * 1.1).floor %>(<%= @item.price %>)円<br>
	        	(税抜価格)<br>
      </td>
     </tr>
    </table>
    <%=link_to "編集する",edit_admin_item_path(@item.id), class: "btn btn-primary pull-right" %>
  </div>
 </div>
</div>