<h2>注文情報確認</h2>
<div calss="row">
    <table>
      <thead>
          <tr class="info">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
      </thead>
      <tbody>
          <% @cart_items.each do |cart| %>
            <tr>
              <td class="text-left">
                <%= attachment_image_tag( cart.item, :image, size: "60x50") %>
                <%= cart.item.name %>
              </td>
              <td class="text-right">
                <%= cart.item.price.to_s(:delimited) %>
              </td>
              <td class="text-right">
                  <%= cart.amount %>
              </td>
              <td class="text-right">
                <%= cart_item.subtotal %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <table>
       <tr>
        <th class="info">送料</th>
         <td><%= @order.shopping_fee %></td>
       </tr>
       <tr>
         <th class="info">商品合計</th>
          <td><%= total_payment(@cart_items).to_s(:delimited) %></td>
         </tr>
       <tr>
        <th class="info">請求金額</th>
        <td class="text-right">¥<%= billing(@order).to_s(:delimited) %></td>
       </tr>
    </table>
  </div>
  <div>
      <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th  class="info">支払方法</th>
          <td>
            <%= @order.payment_method %>
          </td>
        </tr>
        <tr>
          <th  class="info">お届け先</th>
          <td>
            <%= @order.adresses_method %>
          </td>
        </tr>
    </table>
  </div>
  <%= link_to thanx_public_orders_path do %>
        <button class="btn btn-secondary btn-lg" >
         注文を確定する
        </button>
  <% end %>