<h2>注文情報確認</h2>
<div class="row">

    <table border="1",class="col-md-4" >
      <thead>
          <tr class="info">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart| %>
            <tr>
              <td class="text-left">
                <%= image_tag cart.item.get_image(50,50) %>
                <%= cart.item.name %>
              </td>
              <td class="text-right">
                <%= cart.item.with_tax_price %>
              </td>
              <td class="text-right">
                  <%= cart.amount %>
              </td>
              <td class="text-right">
                <%= cart.subtotal %>
              </td>
            </tr>
            <% @total_price+=  cart.subtotal %>
       <% end %>
      </tbody>
    </table>


    <table border="1", class="col-md-2 offset-md-1" >
       <tr>
        <th class="info">送料</th>
         <td><%= @order.shopping_fee %></td>
       </tr>
       <tr>
         <th class="info">商品合計</th>
          <td><%= @total_price %></td>
         </tr>
       <tr>
        <th class="info">請求金額</th>
        <td><%= @order.shopping_fee+@total_price %></td>
       </tr>
    </table>

  </div>
          <div  class="info">支払方法</div>
            <%= @order.pay_type_i18n  %><br>
          <div  class="info">お届け先</div>
            <%= @order.address %>

<%= form_with model:@order,url:public_orders_path do |f| %>
  <%= f.hidden_field :name, :value => @order.name %>
  <%= f.submit '注文を確定する', data: { confirm: "購入確定しますか？"} %>
<% end %>
