<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
		<%= render 'item',item: @item %>

	<h2>商品一覧</h2>(全X件)
	<table>
	 <thead>
	  <tr>
       <th></th>
       <th>商品名</th>
       <th>価格</th>
      </tr>
	 </thead>
	 <tbody>
	  <% @items.each do |item| %>
		<tr>
          <th><%= link_to public_item_path(item.id) do %>
              <% if list.image.attached? %>
              <%= image_tag item.image, size: "100x100" %>
              <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
              <% end %>
              <% end %>
          </th>
          <th><%= @item.name %></th>
          <th>税込価格 <%= (@item.price * 1.1).floor %></th>
        </tr>
      <% end %>
	 </tbody>
	</table>
  </div>
 </div>
</div>
<%= paginate(@items) %>