<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header>
     <nav class="nav navbar-nav navbar-left title">
     <div class="container">
      <ul class="nav navbar-nav navbar-right">
         <%= button_to "LOGO", public_top_path, class: "header_btn glyphicon glyphicon-home" %>
        <!--<img src= "favicon.ico" >-->

        <% if customer_signed_in? %>
          <!--カスタマーがログインしている時 -->
          <!--<li class="header-name">-->
            <!--ようこそ、<%#= @customer.last_name %>さん！-->
          <div class="button1">
            <%= link_to "public_customer_path(current_customer)" do %>
             <button class="btn btn-secondary btn-lg" >
              マイページ
             </button>
            <% end %><br>

            <%= link_to "public_items_path" do %>
             <button class="btn btn-secondary btn-lg" >
              商品一覧
             </button>
            <% end %><br>

            <%= link_to "public_cart_items_path" do %>
             <button class="btn btn-secondary btn-lg" >
              カート
             </button>
            <% end %>

            <%= button_to "ログアウト", destroy_customer_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out" %>
          </div>

        <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->
          <div class="button2">
            <%= link_to "admin_items_path" do %>
             <button class="btn btn-secondary btn-lg" >
              商品一覧
             </button>
            <% end %><br>

            <%= link_to "admin_customers_path" do  %>
             <button class="btn btn-secondary btn-lg" >
              会員一覧
             </button>
           <% end %><br>

            <%= link_to "today_order_index_admin_orders_path" do %>
             <button class="btn btn-secondary btn-lg" >
              注文履歴一覧
             </button>
           <% end %><br>

            <%= button_to "ログアウト", destroy_admin_session_path, method: :delete  %>
          </div>

        <% else %>
          <!-- ログインしていない時 -->
          <div class="button3">
           <%= link_to "public_homes_about_path" do %>
             <button class="btn btn-secondary btn-lg" >
              About
             </button>
           <% end %><br>

           <%= link_to "public_items_path" do %>
             <button class="btn btn-secondary btn-lg" >
              商品一覧
             </button>
           <% end %><br>

           <%= link_to "new_customer_registration_path" do %>
             <button class="btn btn-secondary btn-lg" >
             新規登録
             </button>
           <% end %><br>

           <%= link_to "new_customer_session_path" do %>
            <button class="btn btn-secondary btn-lg" >
            ログイン
            </button>
           <% end %><br>
          </div>

        <% end %>
      </ul>
      </div>
    </nav>
    </header>
   <main>
    <%= flash[:notice] %>
    <%= yield %>
    </main>

  </body>
</html>