<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
     <nav class="nav navbar-nav navbar-left title">
     <div class="container">
      <ul class="nav navbar-nav navbar-right">
         <%= button_to "LOGO", public_top_path, class: "header_btn glyphicon glyphicon-home" %>
        <!--<img src= "favicon.ico" >-->

        <% if customer_signed_in? %>
          <!--カスタマーがログインしている時 -->
          <!--<li class="header-name">-->
            <!--ようこそ、<%#= current_customer.name %>さん！-->
          <div class="button1">
            <%= button_to "マイページ", customer_session_path(current_customer), class: "header_btn glyphicon glyphicon-home" %>

            <%= button_to "商品一覧", public_items_path, class: "header_btn glyphicon glyphicon-briefcase" %>

            <%= button_to "カート", public_cart_items_path, class: "header_btn glyphicon glyphicon-shopping-cart" %>

            <%= button_to "ログアウト", destroy_customer_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out" %>
          </div>

        <% elsif admin_signed_in? %>
          <!-- 管理者がログインしている時 -->
          <div class="button2">
            <%= button_to "商品一覧",admin_items_path %>

            <%= button_to "会員一覧", admin_customers_path %>

            <%= button_to "注文履歴一覧", today_order_index_admin_orders_path %>

            <%= button_to "ログアウト", destroy_admin_session_path, method: :delete  %>
          </div>

          <%#= render "layouts/search" %>
        <% else %>

          <!-- ログインしていない時 -->
          <div class="button3">
           <%= button_to "About",public_homes_about_path %>

          <%= button_to "商品一覧", public_items_path %>

          <%= button_to "新規登録", new_customer_registration_path  %>

          <%= button_to "ログイン", new_customer_session_path %>
          </div>

        <% end %>
      </ul>
      </div>
    </nav>
    </header>
   <main>
    <%= flash[:notice] %>
    <%= yield %>
    </main>

  </body>
</html>